body {
  background: url(background.jpg); /* фоновое изображение*/
  background-size: 40% 150%; /* растягивание фонового изображения*/
}
.main {
  /* центрирование блока main по горизонтали*/
  margin-left: 25%;
  margin-right: 25%;
}
h1 {
  color: #111550; /*цвет текста*/
  font: 400% serif; /*Шрифт */
  text-align: center; /*центрирование текста по центру*/
}
.info {
  border: 2px ridge rgb(109, 107, 107); /* Параметры границы  блока*/
  color: #111550; /*цвет текста*/
  padding: 20px; /* Поля вокруг текста */
  background-color: #cccccc; /*цвет поля*/
  font: 14pt sans-serif; /*Шрифт */
}
.space {
  padding: 20px; /*размер пробелов между блоками*/
}
img {
  float: right; /*Обтекание текстом слева*/
  position: relative; /*выбор позиционирования*/
  top: 30px; /*отступ сверху*/
  right: 30px; /*отступ справа*/
  border: 2px ridge rgb(109, 107, 107); /* Параметры границы  картинки*/
}
