header {
  max-height: 5%; /*максимальная высота блока*/
  position: relative; /*выбор позиционирования*/
  text-shadow: 0 0 3px; /*тень текста*/
  text-align: center; /*центрирование текста по центру*/
}
body {
  font-family: "Open Sans Condensed", sans-serif; /*шрифт*/
  background: url(background.jpg); /* фоновое изображение*/
  background-size: 40% 150%; /* растягивание фонового изображения*/
  background-attachment: fixed; /*не двигать фоновое изображение*/
  color: #010213; /*цвет текста*/
  font-size: 14pt; /*размер шрифта*/
}
.centre {
  display: flex; /*гибкое отображение*/
  justify-content: center; /*выравивание контента по центру*/
}
main {
  margin: 3px; /*отступ от блока*/
  max-width: 600px; /*максимальная ширина блока*/
  box-shadow: 0 0 10px; /*тень блока*/
  padding: 15px; /* Поля вокруг текста */
  background-color: #ece6e6cc; /*цвет поля*/
  border-radius: 20px; /*скругление углов блока*/
}
img {
  margin: auto; /* Поля вокруг изображения */
  border-radius: 12%; /*скругление углов изображения*/
}
aside {
  margin: 3px; /*отступ от блока*/
  max-width: 250px; /*максимальная ширина блока*/
  max-height: 680px; /*максимальная высота блока*/
  box-shadow: 0 0 10px; /*тень блока*/
  border-radius: 20px; /*скругление углов блока*/
  padding: 20px; /* Поля вокруг текста */
  background-color: #ece6e6cc; /*цвет поля*/
}

summary {
  outline: none; /*убрать обводку*/
}
